.main{
	background: url(../img/Hero.png)50%/cover no-repeat;
	padding: 93.5px 10px 245.5px 10px;
	margin: 0 auto;
	max-width: 1440px;

	.container{
		max-width: 1220px;
		padding: 0 10px;
		margin: 0 auto;

		.title-90{
			margin: 0 auto;
			max-width: 756px;
		}
	}
}

.search{
	border-radius: 4px 4px 4px 4px;
	border:solid rgba(140,155,186, .5);
	border-width: 1px 1px 1px 1px;
	margin-top: 48px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.16);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.16);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.16);
	display: flex;
	align-items: center;

	&__block{
		border-width: 0 1px 0 0;
		border-style: solid;
		border-color:rgba(140, 155, 186, 0.5);
		padding: 8px 12px 8px 0;
		display: flex;

		input{
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			color: $border;
		}
	}
}


.search__img{
	margin:8px 8px 8px 12px;
}
.search__img:after{
	content: "";
	width:32px;
	height:24px;
	display: inline-block;
	vertical-align: middle;
}
.plane-up::after{
	background:url(../img/plane-up.svg) 50%/cover no-repeat;
}
.plane-down{
	background:url(../img/plane-down.svg) 50%/cover no-repeat;
}
.search__from, .search__to{
	width:260px;
}

.calendar{
	background:url(../img/calendar.svg) 50%/cover no-repeat;
}
.search__calendar{
	width:188px;
}

.adult{
	background:url(../img/person.svg) 50%/cover no-repeat;
}
.search__adult{
	width:136px;
}
.search__btn{
	padding: 15.5px 20px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	background-color: $violet;
	border-radius:4px;
	color:$gray;
}
.search__block:nth-child(5){
	padding: 0;
}
.search__block:nth-child(4){
	border:none;
}
.search__block:nth-child(3){
	position: relative;
}